{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% if "update" in request.resolver_match.url_name %}
        Update notification preference
    {% else %}
        Set up new notification preference
    {% endif %}
{% endblock %}
{% block content %}
    <main class="notification-preference">
        <div class="pt-3 px-5 mt-5 border-bottom">
            {#    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
            <h1 class="display-5 fw-bold">
                {% if "update" in request.resolver_match.url_name %}
                    Update notification preference
                {% else %}
                    Set up new notification preference
                {% endif %}
            </h1>
        </div>
        <div class="container-fluid px-5 mt-3">
            {% crispy form %}
        </div>
    </main>
{% endblock %}
{% block close %}
    <script>
        var $dayInput = $("#id_day");
        function toggleDay() {
            $("#div_id_specific_date").toggle($dayInput.val() === "specific_date");
            $("#id_specific_date").prop("required", $dayInput.val() === "specific_date");
        }
        toggleDay(); // run on page load
        $dayInput.on("change", toggleDay);
    </script>
{% endblock %}