<!DOCTYPE html>
<html>
<head>
    <title>MRT Station Search</title>

</head>
<body>
    <button id="homeButton" class="floating-button">Home</button>
    <div id="search-container">
        <input id="search-input" class="form-control" type="text" placeholder="Enter a place...">
        Last Updated: <span id="update-time">Loading...</span>
    </div>
    <div id="train-line-container">
        <div class="train-line-header">SG Train Line Status</div>
        <div id="crowd-level-container"></div>
        <div id="update-time-container"></div>
    </div>
    <div id="map"></div>
</body>
</html>