{% load tags %}
<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white">{% settings_value "APP_NAME" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#pageNavbar"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="pageNavbar">
            <div class="navbar-nav bg-dark">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url "main:current_disruptions" %}">Current Disruptions
                        {% if request|is_lta_user %}(public view){% endif %}</a>
                </li>
                {% if not request|is_lta_user %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "main:report_incident" %}">Report Incident</a>
                </li>
                {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                {% if request|is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, {{ request.user.username }} {% if request|is_lta_user %} (LTA user){% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                            {% if not request|is_lta_user %} <li><a class="dropdown-item" href="{% url "main:user_preferences" %}">Preferences</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>{% endif %}
                            <li><a class="dropdown-item" href="{% url "main:logout" %}">Log out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="nav-link" href="{% url "main:login" %}">Log in</a>
                    <a class="nav-link" href="{% url "main:sign_up" %}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>